nbbuild/
dist/
nbdist/
.nb-gradle/ *.class
*.class

 # Mobile Tools for Java (J2ME)
  .metadata
  bin/
  tmp/
  *.tmp
 *.bak
 *.swp
  *~.nib
  local.properties
  .settings/
  .loadpath
 
   # Eclipse Core
   .project
 
    # sbteclipse plugin
    .target
    .target/
    target/
    # Package Files #
    *.war
    *.ear
 
     # virtual machine crash logs
    hs_err_pid*
 
      /target/
      /bin/
